article {
    border: 1px solid silver;
    margin: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

section {
    text-align: center;
}

form {
    display: inline-block;
}